@model IEnumerable<KVA.Cinema.Models.ViewModels.Video.VideoDisplayViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleasedIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PegiName)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.GenreName)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.PreviewFileName != null)
                    {
                        <img src="~/upload/videoPreview/@item.PreviewFileName" alt="@item.Title preview" style="max-width: 5rem">
                    }
                    else
                    {
                        <img src="~/lib/other-icons/No-Image-Placeholder.svg" alt="No image" style="max-width: 5rem">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleasedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirectorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PegiName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.GenreName)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}