<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KVA.Cinema</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container">
                <a href="" style="display:contents">
                    <img src="~/lib/other-icons/frog.svg" width="5%" style="margin: auto 0.75rem"/>
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KVA.Cinema</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Users")">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Videos")">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Subscriptions")">Subscriptions</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Lookups</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Countries")">Countries</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Languages")">Languages</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Genres")">Genres</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Directors")">Directors</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Pegi")">PEGI</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "SubscriptionLevels")">Subscription levels</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Tags")">Tags</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <p>@User.Identity.Name</p>
                        }
                        <a href="@Url.Action("Login", "Users")"
                           title="Sign in / sign up" style="font-size: 1.75rem">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023-2024 KVA.Cinema - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
