@model KVA.Cinema.Models.ViewModels.Subscription.SubscriptionDisplayViewModel

@{
    ViewData["Title"] = "CancelSubscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h3>Are you sure you want to cancel this subscription?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <div class="form-group">
        @Html.DisplayNameFor(model => model.Title)
        @Html.DisplayFor(model => model.Title, additionalViewData: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.DisplayFor(model => model.Description, additionalViewData: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cost)
        @Html.DisplayFor(model => model.Cost, additionalViewData: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LevelName)
        @Html.DisplayFor(model => model.LevelName, additionalViewData: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Duration)
        @Html.DisplayFor(model => model.Duration, additionalViewData: new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.VideoNamesInOneString)
        @Html.DisplayFor(model => model.VideoNamesInOneString, additionalViewData: new { @class = "form-control" })
    </div>
</fieldset>

    <p>
        @Html.ActionLink("No", "Index", "Subscriptions", new { }, new { @class = "btn btn-success" }) | <input type="submit" value="Yes" class="btn btn-outline-danger" />
    </p>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
