@model KVA.Cinema.Models.ViewModels.Tag.TagCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Create</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>Tag</legend>

    <div class="form-group">
        @Html.LabelFor(model => model.Text)
        @Html.EditorFor(model => model.Text, additionalViewData: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Text)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Color)
        @Html.TextBoxFor(model => model.Color, new { @class = "form-control", type = "color" })
        @Html.ValidationMessageFor(model => model.Color)
    </div>
</fieldset>

    <p>
        <input type="submit" value="Create" /> | @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}