@model KVA.Cinema.Models.ViewModels.Pegi.PegiEditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Edit</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Pegi</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Type)
            @Html.EditorFor(model => model.Type, additionalViewData: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Save changes" /> | @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

