@model KVA.Cinema.Models.ViewModels.Language.LanguageCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<h1>Create</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Language</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, additionalViewData: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Create" /> | @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

