@model KVA.Cinema.Models.Genre.GenreDisplayViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Delete</h1>

<h3>Are you sure you want to delete this genre?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Genre</legend>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Title)
            @Html.DisplayFor(model => model.Title, additionalViewData: new { @class = "form-control" })
        </div>
    </fieldset>

    <p>
        <input type="submit" value="Delete" /> | @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
