@model KVA.Cinema.Models.Genre.GenreDisplayViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<h1>Details</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Genre</legend>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Title)
            @Html.DisplayFor(model => model.Title, additionalViewData: new { @class = "form-control" })
        </div>
    </fieldset>

    <p>
        @Html.ActionLink("Edit", "Edit", "Genres", new { Id = Model.Id }) | @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
